body{
    background-color: black;
}

h1#tittle{
    text-transform: uppercase;	
    color: white;
    text-align: center;
}

#pitch{
    background-color: green;
    width: 375px;
    height: 550px;
    border: #FFFFFF solid 1px;
    margin-right: auto;
    margin-left: auto;
}
.half{
    width: 373px;
    height: 273px;
    background-color: green;
    border: #FFFFFF solid 1px; 
}

.onePosition{
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    width: 373px;
    height: 56px;
    padding-top: 4px;
}